body
{
	overflow: hidden;
	font-family: helvetica;
}
#content
{
	position: absolute;
	width: 30%;
	height: 400px;
}

/* Container Messages */
#containerMessage
{
	position:relative;
	float: left;
	margin: 2%;
	overflow: auto;
	background-color:rgba(189, 195, 199,.3);
	border-radius: 4px;
	height:98%;
	width:70%;
}
.message
{
	position: relative;
	width: 90%;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	color: white;
}

/* Container Keywords */
ul
{
	position: relative;
	float: left;
	width:15%;
	margin:2%;
	
}
li
{
	display:block;
	margin-top: 10px;
	list-style-type:none;
}

/* Keywords Color Class */
.happy
{
	color: #2ecc71;
}
.sad
{
	color: #c0392b;
}
.cool
{
	color:rgb(52, 152, 219)
}
.work
{
color: #f1c40f;
}
.love
{
	color: #FFCCFF;
}